/* 
  Gif API (giphy)  -  a page that interacts with it, displaying a set of buttons to extract gifs on click, and 
  add new buttons if user requests it. The light-hearted initial theme is dancing, but user can enter any
  word for more gifs.

Homework Assignment  6 - html, css, javascript, jquery api 
              
Al Curry  February 26, 2018

GWU full stack development program  

this module  called by index.html

 */
.btnStyle {
    border-radius: 5px;
    margin: 3px;
}

.item {
    float: left;
    margin: 5px;
    border-radius: 5px;
}

#hdr1, #hdr2 {
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-weight: bold;
}

#btnClear {
     margin: 10px;
}

#nextButton {
   border-radius: 5px;
   padding: 0 0 5px 5px;
}

#addLabel {
    padding: 5px 0 0 5px;
}

#alignInput {
    padding: 0 0 5px 5px;
}